    
body {
    font-family: "Droid Arabic Kufi",Open Sans,sans-serif !important;
}
body .jqTransformSelectWrapper {
    border-left: 1px solid #eaeaea;
    border-right: 0 none;
}
body .jqTransformSelectWrapper div a.jqTransformSelectOpen::before {
    left: 0;
    right: auto;
}
body .jqTransformSelectWrapper div span {
    padding: 0 14px 0 0;
}

.manufacturer-list ul {
    list-style: outside none none;
}
.manufacturer-list ul li {
    float: right;
    margin: 15px 0;
    text-align: center;
    width: 20%;
}
#sns_msg_container .product-name {
    color: #7961aa;
}
#manufacturers .banner {
    margin-top: 10px;
}
#sns_custommenu {
    margin-bottom: 10px;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu {
    left: auto;
    right: 0;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 {
    list-style: outside none none !important;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 li.parent::after {
    content: "Ù";
    left: 10px;
    right: auto;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 li:hover .wrap_submenu, #sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 li li:hover .wrap_submenu {
    left: auto;
    right: 95%;
}
#checkoutSteps .sp-methods dt input {
    float: right;
    margin: 1px 0 0 5px;
}
#checkoutSteps .sp-methods dt label {
    float: right;
}
#sns_breadcrumbs {
    margin-top: 0;
}
.buttons-set .button {
    float: right;
    margin-right: 0;
}
.link-forgotpassword {
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}
.contact-page .fa-ul {
    margin-left: 0;
    margin-right: 15px;
    padding-right: 0;
}
.contact-page .fa-ul li i {
    left: auto;
    margin-top: 6px;
    right: -2.14286em;
}
.contact-page #contactForm textarea {
    height: 150px;
}
.form-control {
    transition: all 0.5s ease 0s;
}
.form-control:focus {
    border: 1px solid #5bb7d5 !important;
}
#sns_custommenu ul.mainnav li.level0.active, #sns_custommenu ul.mainnav li.level0:hover {
    background: #5bb7d5 none repeat scroll 0 0 !important;
}
#sns_custommenu ul.mainnav li.level0 > div {
    right: 0;
}
.sns-product-detail .product-shop .price-box, .sns-product-detail .prd-container2 .price-box {
    margin: 15px 0 0;
}
.c-tab__nav {
    background: #5bb7d5 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    overflow: hidden;
}
.c-tab__nav li {
    margin-top: 7px;
}
.c-tab__nav li a {
    color: #ffffff;
    margin-left: 5px;
    padding: 3px 10px;
}
.c-tab__nav li a:focus, .c-tab__nav li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}
.c-tab__nav li.active a, .c-tab__nav li.active a:focus, .c-tab__nav li.active a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}
.c-tab__title {
    background: #7961aa none repeat scroll 0 0;
    font-size: 16px;
    margin: 0 0 0 40px !important;
    padding: 10px 20px;
    position: relative;
}
.c-tab__title::before {
    background: #7961aa none repeat scroll 0 0;
    content: "";
    height: 110%;
    left: -10px;
    position: absolute;
    top: 0;
    transform: rotate(20deg);
    width: 20px;
}
.c-tab__title::after {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 120%;
    left: -15px;
    position: absolute;
    top: -5px;
    transform: rotate(20deg);
    width: 5px;
}
.c-tab__slider-nav {
    float: left !important;
}
.c-tab__slider-nav a {
    margin: 0;
}
.c-tab__divider {
    background: white none repeat scroll 0 0;
    height: 15px;
    margin: 12px 0 0 6px !important;
    width: 1px;
}
.c-tab__item {
    margin: 20px 0;
}
@keyframes hide {
0% {
    display: block;
    opacity: 1;
}
99% {
    display: block;
}
100% {
    display: none;
    opacity: 0;
}
}
@keyframes show {
0% {
    display: none;
    opacity: 0;
}
1% {
    display: block;
}
100% {
    display: block;
    opacity: 1;
}
}
.c-box__item {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.c-box__image {
    border: 2px dotted #eaeaea;
    position: relative;
}

/*-------*/.c-box__title {
    font-size: 11.7px;
    word-spacing: normal;
}
.c-box__title a {
    display: block;
    padding: 10px 0;
}
.c-box__price {
    margin-bottom: 10px;
}
.c-box__price__number {
    color: #5bb7d5;
    font-size: 16px;
    font-weight: bold;
}
.c-box__price__currency {
    margin-right: 3px;
}
.c-box__quick-view, .c-box__quick-view:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #666666;
    margin-right: -53px;
    margin-top: -17px;
    position: absolute;
    right: 50%;
    top: 50%;
}
.c-box__wrapper {
    animation: 0s ease 0s normal forwards 1 running hide;
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.c-box__wrapper:hover {
    animation: 0.5s linear 0s normal forwards 1 running show;
}
.c-box__wrapper__link {
    display: block;
    height: 100%;
    width: 100%;
}
.c-button {
    border-radius: 0;
    padding: 7px 15px;
    transition: all 0.5s ease 0s;
}
.c-button--primary {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ececec;
    color: #7961aa;
}
.c-button--primary:hover, .c-button--primary:focus {
    background: #7961aa none repeat scroll 0 0;
    color: #ffffff;
}
.c-button--primary .fa {
    transition: all 0s ease 0s;
}
.ico-product.ico-sale {
    background: #796100 none repeat scroll 0 0 !important;
}
.products-grid .item .item-inner .item-info .item-price .price-box .old-price, .products-grid .item .item-inner .item-info .item-price .price-box .special-price {
    float: none;
    vertical-align: middle;
}
@media (min-width: 992px) {
.wrap_dropdown.fullwidth {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #7961aa #7961aa;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 1px 1px 5px #cccccc;
}
.clr--primary {
    color: #5bb7d5 !important;
}
.clr--secondary {
    color: #7961aa !important;
}
.c-navbar__item {
    padding: 15px 0;
}
.c-navbar__item ul {
    list-style: outside none none;
    padding: 0;
}
.c-navbar__item a {
    color: #a7a9ac;
    display: block;
    padding: 5px !important;
}
.c-navbar__title {
    border-bottom: 2px dotted #a7a9ac;
    color: #a7a9ac;
    padding: 20px 0 10px;
}
.c-navbar__primary {
    padding-left: 30px;
    padding-right: 30px;
}
.c-navbar__primary a {
    color: #5bb7d5;
}
.c-navbar__primary .c-navbar__title {
    border-color: #5bb7d5;
}
.c-navbar__secondary {
    padding-left: 30px;
    padding-right: 30px;
}
.c-navbar__secondary a {
    color: #7961aa;
}
.c-navbar__secondary .c-navbar__title {
    border-color: #7961aa;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.c-navbar__title {
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
}
.c-navbar .btn_accor {
    color: white;
    float: right;
    padding-left: 5px;
}
.c-navbar ul {
    display: none;
    padding-right: 15px;
}
.c-navbar.open ul {
    display: block;
}
.logo {
    margin: 30px 0 20px;
    text-align: center;
}
#sns_header #sns_header_bot .top-bd .mycart {
    margin-top: 20px;
    position: static !important;
}
#sns_header #sns_header_bot .top-bd .mycart .block-minicart .block-content {
    top: auto !important;
}
#sns_header #sns_header_bot .top-bd .block_topsearch {
    margin-top: 20px;
}
li.ca-li1, li.ca-li2 {
    margin-bottom: 26px;
}
#sns_mommenu {
    display: none !important;
}
}
@media (min-width: 360px) and (max-width: 767px) {
.c-navbar__title {
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
}
.c-navbar .btn_accor {
    color: white;
    float: right;
    padding-left: 5px;
}
.c-navbar ul {
    display: none;
    padding-right: 15px !important;
}
.c-navbar__item.open ul {
    display: block;
}
.c-tab__nav li a {
    margin: 1px;
    padding: 3px 5px;
}
.c-tab__title {
    margin-left: 30px !important;
    padding: 10px 15px;
}
.c-tab__prev a, .c-tab__next a {
    padding: 3px 10px !important;
}
.c-tab__divider {
    margin-left: 0 !important;
}
.c-box__title {
    font-size: 11px;
}
.c-box__wrapper {
    display: none;
}
.wrap_dropdown.fullwidth {
    height: 0;
    overflow: hidden;
}
.accr_header.open + .wrap_dropdown.fullwidth {
    height: auto;
    overflow: auto;
}
#sns_slideshow_wrapper .owl-controls .owl-nav .owl-next {
    margin-top: -15px;
    right: 10px;
}
#sns_slideshow_wrapper .owl-controls .owl-nav .owl-prev {
    left: 10px;
    margin-top: -15px;
}
#sns_slideshow_wrapper .owl-controls .owl-nav > div i {
    font-size: 22px;
    height: 24px;
    line-height: 24px;
    width: 24px;
}
#sns_slideshow_wrapper .owl-controls .owl-dots {
    bottom: 0 !important;
}
#sns_slideshow_wrapper .owl-controls .owl-dots span {
    height: 10px !important;
    width: 10px !important;
}
#sns_slideshow_wrapper .owl-controls .owl-dots span::before {
    height: 10px !important;
    margin: -5px 0 0 -5px !important;
    width: 10px !important;
}
}
.spinner {
    animation: 2s linear 0s normal none infinite running sk-rotate;
    height: 40px;
    margin: 100px auto;
    position: relative;
    text-align: center;
    width: 40px;
}
.dot1 {
    animation: 2s ease-in-out 0s normal none infinite running sk-bounce;
    background-color: #5bb7d5;
    border-radius: 100%;
    display: inline-block;
    height: 60%;
    position: absolute;
    top: 0;
    width: 60%;
}
.dot2 {
    animation: 2s ease-in-out -1s normal none infinite running sk-bounce;
    background-color: #7961aa;
    border-radius: 100%;
    bottom: 0;
    display: inline-block;
    height: 60%;
    position: absolute;
    top: auto;
    width: 60%;
}
@keyframes sk-rotate {
100% {
    transform: rotate(360deg);
}
}
@keyframes sk-rotate {
100% {
    transform: rotate(360deg);
}
}
@keyframes sk-bounce {
0%, 100% {
    transform: scale(0);
}
50% {
    transform: scale(1);
}
}
@keyframes sk-bounce {
0%, 100% {
    transform: scale(0);
}
50% {
    transform: scale(1);
}
}
.tab-content .tab-pane {
    display: block !important;
    height: 0;
    overflow: hidden !important;
    visibility: hidden;
}
.tab-content .active {
    display: block !important;
    height: auto;
    overflow: auto !important;
    visibility: visible;
}
.fancybox-lock .fancybox-overlay, #proaddto_confirmbox {
    z-index: 99999999;
}
@media (max-width: 767px) and (min-width: 320px) {
.fancybox-wrap {
    bottom: 20px;
    height: auto !important;
    left: auto !important;
    right: 20px;
    width: auto !important;
}
.fancybox-inner {
    height: 100% !important;
    width: 100% !important;
}
.fancybox-overlay {
    left: auto;
}
#newsletter-popup {
    padding: 0;
}
.promotional-popup {
    padding: 15px;
}
#newsletter-popup .subscribe-title .title {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 13px;
}
.fancybox-wrap {
    top: 7% !important;
}
.block-subscribe .block-content .form-group input {
    width: 85% !important;
}
.subscribe-bottom input {
    margin-left: 8px;
    margin-right: 0;
}
.subscribe-bottom img {
    height: 100px;
    margin: 0;
    transform: none;
}
#sns_header #sns_header_top {
    padding-top: 0 !important;
}
#sns_header #sns_header_top .header-menu-block {
    margin: 0;
}
#sns_header #sns_header_top .header-menu-block .links {
    padding-top: 8px !important;
}
#sns_header #sns_header_top .header-menu-block .links a {
    display: block !important;
    height: 20px !important;
    line-height: 30px !important;
    overflow: hidden !important;
    width: 20px !important;
}
#sns_header #sns_header_top .header-menu-block .links a::before {
    left: 0 !important;
    margin: 0 !important;
}
#sns_header_bot .top-bd .mycart {
    width: 16.6667%;
}
#sns_header #sns_header_bot .top-bd .block_topsearch {
    padding-left: 15px;
    padding-right: 15px;
    position: static;
    text-align: right;
    z-index: initial;
}
#sns_header #sns_header_bot .top-bd .block_topsearch .form-search input {
    padding-left: 40px;
    padding-right: 15px;
}
#sns_content .sns-producttabs-wapper .sns-pdt-head .sns-pdt-nav {
    bottom: 8px !important;
    position: absolute !important;
    right: 110px;
}
#sns_content .sns-producttabs-wapper .sns-pdt-head .sns-pdt-nav h3.pdt-nav {
    display: inline-block !important;
}
#sns_content .sns-producttabs-wapper .sns-pdt-head .sns-pdt-nav h3.pdt-nav .item-nav span {
    margin-right: 0 !important;
}
#sns_content .sns-producttabs-wapper .sns-pdt-head .sns-pdt-nav .dropdown {
    display: none !important;
}
#sns_content .sns-producttabs-wapper .sns-pdt-head .navslider .prev::before {
    top: 10px !important;
}
.sns-product-detail .product-shop .add-to-box .add-to-cart .btn-cart, .sns-product-detail .prd-container2 .add-to-box .add-to-cart .btn-cart {
    padding: 4px 15px;
}
#sns_footer_full {
    text-align: center;
}
#sns_footer_full #sns_footer_top .contact-us ul li .fa-li, #sns_footer_full #sns_footer_middle .contact-us ul li .fa-li {
    float: none;
    margin-left: 5px;
    position: static;
}
#sns_footer_full #sns_footer_bottom .footer-line .sns-copyright {
    margin-bottom: 10px;
}
#sns_footer_full #sns_footer_bottom .footer-line .payment {
    float: none;
}
#sns_footer_full #sns_footer_middle .styleheight {
    height: auto !important;
}
#shopping-cart-table tbody tr td {
    float: left;
    text-align: right;
}
#shopping-cart-table tbody tr td:first-child {
    float: right;
    padding-left: 20px;
    padding-right: 0;
}
.sns-product-detail .product-shop .add-to-box .add-to-cart .qty-container, .sns-product-detail .prd-container2 .add-to-box .add-to-cart .qty-container {
    margin: 0 auto !important;
}
.products-grid .item .item-inner {
    padding-bottom: 1px;
}
.logo {
    margin: 30px 0 20px;
    text-align: center;
}
.logo img {
    padding: 0;
    transform: scale(1.4);
}
#sns_mommenu {
    margin: 0;
}
#sns_mommenu .collapse_wrap {
    background: #7961aa none repeat scroll 0 0;
}
#sns_mommenu .collapse_wrap #menu_collapse a {
    color: white;
}
#sns_mommenu .mainnav .accr_header {
    border-color: rgba(0, 0, 0, 0.1);
}
#sns_mommenu .mainnav .accr_header .btn_accor {
    color: white;
    padding-left: 5px;
}
#sns_mommenu > [class*="btn"] {
    background: #7961aa none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 250px;
    min-height: 30px;
    padding: 0 10px;
    text-align: center;
}
#sns_mommenu > [class*="btn"] i {
    color: white !important;
    float: right;
    font-size: 20px;
    padding-left: 5px;
    vertical-align: middle;
}
#sns_content .left-staticblock ul li .block-bodder .top-left {
    padding-right: 5px;
}
#sns_content .left-staticblock ul li .block-bodder .top-right {
    padding-right: 8px;
}
#sns_content .left-staticblock ul li .block-bodder .top-right h2 {
    font-size: 14px;
}
#sns_header #sns_header_bot .top-bd {
    padding: 0 !important;
}
#sns_header #sns_header_bot .top-bd .mycart {
    width: 100% !important;
}
#sns_header #sns_header_bot .top-bd .mycart .block-minicart .cart-price-total {
    display: inline-block;
    vertical-align: middle;
}
#sns_header #sns_header_bot .top-bd .mycart .block-minicart .tongle {
    text-align: center;
}
#sns_header #sns_header_bot .top-bd .block_topsearch .sns-serachbox-pro .sns-searbox-content .form-search {
    margin: 6px auto;
    width: 250px;
}
li.ca-li1, li.ca-li2 {
    margin-bottom: -3px !important;
}
li.ca-li1 .block-bodder, li.ca-li2 .block-bodder {
    border-bottom: 0 none !important;
}
li.ca-li1, li.ca-li4 {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
li.ca-li2, li.ca-li3 {
    padding-right: 0 !important;
}
li.ca-li2 .block-bodder, li.ca-li3 .block-bodder {
    border-right: 0 none !important;
}
li.ca-li3 {
    float: left;
}
#sns_pathway .breadcrumbs {
    padding: 15px 0 0;
}
.cart-collaterals .totals table td {
    padding-bottom: 20px !important;
    text-align: right !important;
}
.cart ul.checkout-types {
    padding: 0 !important;
}
}
